APP_ENV=development
DB_DATABASE=bosnetdb
DB_DEBUG=true
DB_HOST=localhost
DB_PASSWORD=
DB_PORT=1433
DB_USER=sa
DB_RUN_MIGRATION=true

SERVICE_PORT=3000
DB_MIGRATION_PATH=/home/gajahz/Projects/local/bosnet/be/database/migration